{namespace s=Subugoe\Find\ViewHelpers}
<f:layout name="Default"/>
<f:comment>
	Template for a basic Detail view of all fields in the document.

	Sets up the page with its title, CSS, JavaScript, the search form and pager,
	uses the field configured as a heading and creates
	a definition list of all field contents.

	This can be a good starting point for refining the detail view for your
	data model.
</f:comment>

<f:section name="main">
        <v:page.header.meta additionalAttributes="{property: 'og:description'}" content="{document.fields.title.0}" />
        <v:page.header.meta additionalAttributes="{property: 'og:title'}" content="👤{document.fields.creatorName.0}{document.fields.contributorName.0}" />
        <v:page.header.meta additionalAttributes="{property: 'og:image'}" content="https://hosdev.sub.uni-hamburg.de/typo3conf/ext/discovery/Resources/Public/hoslogo.png" />
        <v:page.header.meta additionalAttributes="{property: 'og:type'}" content="website" />
        <v:page.header.meta additionalAttributes="{property: 'og:site_name'}" content="{config.pageTitle}" />
        <v:page.header.meta name="twitter:card" content="summary" />
	<v:page.header.meta name="twitter:site" content="openscience.hamburg.de" />
	<v:page.header.meta name="twitter:domain" content="openscience.hamburg.de" />
	<v:page.header.meta name="twitter:creator" content="👤{document.fields.creatorName.0}{document.fields.contributorName.0}" />

	<s:page.title>{document.fields.id} – {config.pageTitle}</s:page.title>

	<f:render partial="Page/Standard" arguments="{_all}"/>
	<f:render partial="Components/DetailResultPager" arguments="{_all}"/>
	<article class="detail">
		<h1><f:format.htmlentitiesDecode><f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:settings.standardFields.title, separator:',
		'}"/></f:format.htmlentitiesDecode></h1>
<div id="detailcontainer" style="display:table">
		<dl>	
			<v:iterator.explode content="{settings.detailfacets}" glue="," as="facetfields">
				<f:for each="{facetfields}" as="field">
			 		<f:render partial="Display/DLField" arguments="{results:results,document:document,field:field}"/>
			 	</f:for>
			</v:iterator.explode>
		</dl>
		<div 
			id="detailmap" 
			data-tileprovider = "{f:format.json(value:settings.facets.heatmap.tileprovider)}"
			data-fields = "{f:format.json(value:document.fields)}"
		>
		</div>
</div>		
	</article>
</f:section>